<br>

<h1 class="text-center"><b id="username"></b> Chat</h1>

<div style="display: flex; flex-direction: row; justify-content: space-around;">
    <div>
        <b>Escribe algo:</b>
        <input id="chatbox">
    </div>
    <div class="card" style="box-shadow: 0px 0px 10px #969696">
        <div><p class="text-center m-0"><b>Historial</b></p></div>
        <hr style="margin: 2px 0 2px 0;">
        <div id="logs" style="margin: 5px; width: 400px; height: 300px; overflow: auto;">
            {{#each messages}}
            <p><b>{{user}}:</b> {{message}}<i style="font-size: x-small; margin-left: 5px;">{{hour}}</i></p>
            {{/each}}
        </div>
    </div>
</div>



{{!-- SweetAlert --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{!-- Socket.io --}}
<script src="/socket.io/socket.io.js"></script>
{{!-- Logica de Socket.io --}}
<script src="/static/js/chat.js"></script>