
<br>

<h1 class="text-center">Carga de producto asincrono</h1>

<div style="display: flex; flex-direction: column; align-items: center;">
    <form action="./form" method="post">
        <label class="form-label m-0">Title:</label>
        <input class="form-control" type="text" name="title" id="title" required>
        <label class="form-label m-0">Description:</label>
        <input class="form-control" type="text" name="description" id="description" required>
        <label class="form-label m-0">Price:</label>
        <input class="form-control" type="number" name="price" id="price" required>
        <label class="form-label m-0">Thumbnail:</label>
        <input class="form-control" type="text" name="thumbnail" id="thumbnail">
        <label class="form-label m-0">Code:</label>
        <input class="form-control" type="text" name="code" id="code" required>
        <label class="form-label m-0">Stock:</label>
        <input class="form-control" type="number" name="stock" id="stock" required>
        <label class="form-label m-0">Category:</label>
        <input class="form-control" type="text" name="category" id="category" required>
        <br>
        <button class="btn btn-success" type="submit">Cargar</button>
    </form>
</div>