<section >
    <div class="body_background1">
        <div class="position-absolute top-50 start-50 translate-middle bg-dark text-white rounded w-25 h-50 p-3">
            <div class="d-flex justify-content-center align-item-center fs-2">Master of users</div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control form-control-sm text-light form-control bg-dark-x border-0 inputPlaceholder" id="LogInInputEmailMasterUsers" aria-describedby="emailHelp" placeholder="Ingresa tu email" name="username">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control form-control-sm text-light form-control bg-dark-x border-0 inputPlaceholder" id="LogInInputPassMasterUsers"placeholder="Ingresa tu nueva contraseña" name="password">
            </div>
            <button type="button" class="btn btn-primary" id="btnLogInMasterUsers">Login</button>
        </div>
    </div>
</section>
<style>
    .body_background1 {
        background-image: url('/assets/images/fondo.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
    }
</style>
<script src="/js/loginmasterusers.js"></script>