 <nav class="navbar navbar-expand-sm bg-info">
    <div class="container-fluid">
        <a href="../../realTimeProducts">
             <img src="../static/assets/images/logo.jpg" width="80px" alt="logo"
                class="d-inline-block align-text-top me-3 header__img" />
        </a>
    </div>
    <div class="d-flex collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav align-items-center header__lista">
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="../../realTimeProducts">Products</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="../../productsList">List</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="../../chat">Chat</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="../../cart/64c9d325f54c08f61e2cde00">Cart</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="/api/session/logout">
                    <img src="https://i.ibb.co/j8FWHKq/switch-off.png" alt="shut-down" width="30px">
                </a>
            </li>
            <li class="nav-item ms-3 header__item" style="margin-right: 24px;">
                <a class="nav-link" href="#">
                    <img src="https://i.ibb.co/3WdFcqG/profile.png" alt="profile" width="30px">
                </a>
            </li>
        </ul>
    </div>
</nav>

<br>

<h1 class="text-center">Profile</h1>

<br>

<div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div>
                <b>First Name:</b>
                {{first_name}}
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <b>Last Name:</b>
                {{last_name}}
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <b>Email:</b>
                {{email}}
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <b>Rol:</b>
                {{rol}}
            </div>
        </li>
    </ul>
</div>

<br>

<div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <a href="/api/session/logout" class="btn btn-primary" style="width: 10%;">Logout</a>
</div>

