<div class="body_background1">
    <h1>REGISTRADO CORRECTAMENTE</h1>
    <a class="btn btn-primary" href="/login">Ir al login</a>
   
</div>

<style>
    .body_background1 {
    background-image: url('/assets/images/fondo.jpg');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat; 
    height: 100vh; 
}

</style>