.body_background1 {
	background-image: url('/assets/images/fondo.jpg');
	/* Ruta de la imagen de fondo */
	background-size: cover;
	/* Cubre toda el área del elemento */
	background-position: center center;
	/* Centra la imagen */
	background-repeat: no-repeat;
	/* Evita la repetición de la imagen */
	
}




:root {
	background-image: url('/assets/images/fondo.jpg');
	/* Ruta de la imagen de fondo */
	background-size: cover;
	/* Cubre toda el área del elemento */
	background-position: center center;
	
	--dark: #e9ecef;
	--dark-x: #1e2126;
	--light: #ffffff;
}

.products_body--font_family{
	font-family: 'Roboto', sans-serif;
}

.products_tittle--font_family {
	color: #f5f6f8;
	font-family: #007bff, cursive;
}

.pencil {
	width: 1.5rem;
	height: 1.5rem;
}

.trash {
	width: 1.5rem;
	height: 1.5rem;
}

.pluscircle {
	width: 1.5rem;
	height: 1.5rem;
}

/*Estilos de los titulos de pantalla productos y real time products*/

.productsBody {
	background-color: rgb(206, 206, 206);
}

