<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <title>{{title}}</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info">
    <div class="container-fluid">
        <a href="../../home">
            <img src="./static/assets/images/logo.jpg" width="80px" alt="logo"
                class="d-inline-block align-text-top me-3 header__img" />
        </a>
    </div>
    <div class="d-flex collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav align-items-center header__lista">
            <li class="nav-item ms-3 header__item">
                <a class="nav-link  active" href="../../home">Inicio</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link  active" href="../../realTimeProducts">RealTime Carga de productos</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link  active" href="../../productsList">Lista</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link  active" href="../../cart/64c9d325f54c08f61e2cde00">cart</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link active" href=".../../form">Cargar nuevo Producto</a>
            </li>
             <li class="nav-item ms-3 header__item">
                <a class="nav-link active" href="../../chat">Chat</a>
            </li>
            
        </ul>
    </div>
</nav>
 
    {{{body}}}
</body>
</html>